Aleksandar Prokopec <aleksandar@aleksandar-Latitude-E6500.(none)>
Aleksandar Prokopec <aleksandar@htpc.(none)>
Aleksandar Prokopec <aleksandar@htpc-axel22.(none)>
Aleksandar Prokopec <aleksandar@lampmac14.epfl.ch>
Aleksandar Prokopec <aleksandar.prokopec@epfl.ch>
Antonio Cunei <antonio.cunei@typesafe.com>
Caoyuan Deng <dcaoyuan@epfl.ch>
Chris Hodapp <clhodapp1@gmail.com>
Chris James <chrisJames@epfl.ch>
Christopher Vogt <vogt@epfl.ch>
Damien Obristi <damien.obrist@gmail.com>
Daniel C. Sobral <dcs@dcs-132-CK-NF79.(none)>
Ilya Sergei <ilyas@epfl.ch>
Ingo Maier <ingoem@gmail.com>
Kenji Yoshida <6b656e6a69@gmail.com>
Luc Bourlier <skyluc@epfl.ch>
Martin Odersky <odersky@gamil.com>
Nada Amin <amin@epfl.ch>
Nada Amin <nada.amin@epfl.ch>
Natallie Baikevich <lu-a-jalla@ya.ru>
Pavel Pavlov <pavel.e.pavlov@gmail.com>
Philipp Haller <philipp.haller@typesafe.com>
Roland Kuhn <rk@rkuhn.info>
Rüdiger Klaehn <rklaehn@gmail.com>
Stéphane Micheloud <michelou@epfl.ch>
