Adriaan Moors <adriaan.moors@typesafe.com>
Adriaan Moors <adriaan.moors@typesafe.com> <adriaan.moors@epfl.ch>
Adriaan Moors <adriaan.moors@typesafe.com> <adriaanm@gmail.com>
Aleksandar Prokopec <aleksandar.prokopec@epfl.ch>
Aleksandar Prokopec <aleksandar.prokopec@epfl.ch> <aleksandar.prokopec@gmail.com>
Aleksandar Prokopec <aleksandar.prokopec@epfl.ch> <aleksandar@aleksandar-Latitude-E6500.(none)>
Aleksandar Prokopec <aleksandar.prokopec@epfl.ch> <aleksandar@htpc-axel22.(none)>
Aleksandar Prokopec <aleksandar.prokopec@epfl.ch> <aleksandar@htpc.(none)>
Aleksandar Prokopec <aleksandar.prokopec@epfl.ch> <aleksandar@lampmac14.epfl.ch>
Aleksandar Prokopec <aleksandar.prokopec@epfl.ch> <axel22@gmail.com>
Alex Cruise <alex@cluonflux.com>
Alex Cruise <alex@cluonflux.com> <alex@metaforsoftware.com>
A. P. Marki <som.snytt@gmail.com>
Antonio Cunei <antonio.cunei@typesafe.com>
Antonio Cunei <antonio.cunei@typesafe.com> <antonio.cunei@epfl.ch>
Buraq Emir <buraq@epfl.ch>
Caoyuan Deng <dcaoyuan@epfl.ch>
Chris Hodapp <clhodapp1@gmail.com>
Chris James <chrisJames@epfl.ch>
Christopher Vogt <vogt@epfl.ch>
Christopher Vogt <vogt@epfl.ch> <christopher.vogt@epfl.ch>
Christopher Vogt <vogt@epfl.ch> <github.com.nsp@cvogt.org>
Damien Obristi <damien.obrist@gmail.com>
Daniel C. Sobral <dcsobral@gmail.com>
Daniel C. Sobral <dcsobral@gmail.com> <dcs@dcs-132-CK-NF79.(none)>
Daniel Lorch <lorch@epfl.ch>
Erik Stenman <stenman@epfl.ch>
Eugene Burmako <xeno.by@gmail.com>
Eugene Burmako <xeno.by@gmail.com> <burmako@epfl.ch>
Eugene Vigdorchik <eugenevigdorchik@epfl.ch> <eugene.vigdorchik@gmail.com>
François Garillot <francois@garillot.net>
Geoff Reedy <geoff@programmer-monk.net> <gereedy@sandia.gov>
Ilya Sergei <ilyas@epfl.ch>
Ingo Maier <ingo.maier@epfl.ch>
Ingo Maier <ingo.maier@epfl.ch> <ingoem@gmail.com>
Josh Suereth <joshua.suereth@gmail.com>
Josh Suereth <joshua.suereth@gmail.com> <Joshua.Suereth@gmail.com>
Julien Eberle <jeberle@epfl.ch>
Kenji Yoshida <6b656e6a69@gmail.com>
Luc Bourlier <luc.bourlier@typesafe.com>
Luc Bourlier <luc.bourlier@typesafe.com> <skyluc@epfl.ch>
Luc Bourlier <skyluc@epfl.ch>
Martin Odersky <odersky@gmail.com>
Martin Odersky <odersky@gmail.com> <odersky@gamil.com>
Michael Pradel <pradel@epfl.ch>
Michel Schinz <schinz@epfl.ch>
Miguel Garcia <magarcia@epfl.ch>
Miguel Garcia <magarcia@epfl.ch> <miguelalfredo.garcia@epfl.ch>
Mirco Dotta <mirco.dotta@typesafe.com>
Mirco Dotta <mirco.dotta@typesafe.com> <mirco.dotta@gmail.com>
Moez A. Abdel-Gawad <moez@epfl.ch>
Mohsen Lesani <lesani@epfl.ch>
Nada Amin <amin@epfl.ch>
Nada Amin <amin@epfl.ch> <nada.amin@epfl.ch>
Nada Amin <amin@epfl.ch> <namin@alum.mit.edu>
Natallie Baikevich <lu-a-jalla@ya.ru>
Nikolay Mihaylov <mihaylov@epfl.ch>
Paolo Giarrusso <p.giarrusso@gmail.com>
Pavel Pavlov <pavel.e.pavlov@gmail.com>
Philipp Haller <philipp.haller@typesafe.com>
Philipp Haller <philipp.haller@typesafe.com> <hallerp@gmail.com>
Philippe Altherr <paltherr@epfl.ch>
Raphaël Noir <noir@epfl.ch>
Roland Kuhn <rk@rkuhn.info>
Rüdiger Klaehn <rklaehn@gmail.com>
Sebastian Hack <shack@epfl.ch>
Simon Ochsenreither <simon@ochsenreither.de>
Stepan Koltsov <stepancheg@epfl.ch>
Stéphane Micheloud <michelou@epfl.ch>
Unknown Committer <lost.soul@typesafe.com>
Unknown Committer <lost.soul@typesafe.com> <USER@epfl.ch>
Unknown Committer <lost.soul@typesafe.com> <noreply@epfl.ch>
Viktor Klang <viktor.klang@gmail.com>
Vincent Cremet <cremet@epfl.ch>
Vladimir Nikolaev <vladimir.nikolaev9@gmail.com>
Vojin Jovanovic <vojin.jovanovic@epfl.ch>
Vojin Jovanovic <vojin.jovanovic@epfl.ch> <gvojin@gmail.com>
