# $Id$
# 
# this file serves two purposes 
#
# 1. properties file for ant
# 2. environment variables for shell-scripts (e.g. ant-build-nsc.sh)
#
# don't use characters like '.' in variable names, and
# don't run commands here
#
##############################################################################
# jar archives
#
scala_jar   = ~/projects/scala/lib/scala.jar
tools_jar   = ~/projects/scala/lib/tools.jar
nsc_jar     = ~/projects/scala/lib/nsc.jar
nsc4ant_jar = ~/projects/scala/lib/nsc4ant.jar
#
ant_jar     = /home/linuxsoft/apps/ant/lib/ant.jar
fjbg_jar    = /home/linuxsoft/apps/fjbg/jars/fjbg.jar
jaco_jar    = /home/linuxsoft/apps/jaco/lib/jaco.jar
#
##############################################################################
# build directories
#
jars_dir = ~/projects/scala/lib
#
tools_util_dir = /tmp/classes_tools_util
#
nsc_dir = /tmp/classes_nsc
#
nsc4ant_dir = /tmp/classes_nsc4ant
#
nsc_output_dir = /tmp/classes_nsc_output
#
tools_util_runtime_dir=/tmp/classes_runtime
#
##############################################################################
