# this file serves two purposes 
#
# 1. properties file for ant
# 2. environment variables for shell-scripts (e.g. ant-build-nsc.sh)
#
# don't use characters like '.' in variable names, and
# don't run commands here
#
scala_jar = /localhome/buraq/scala/objects/main/lib/scala.jar
tools_jar = /localhome/buraq/scala/objects/main/lib/tools.jar
fjbg_jar  = /home/linuxsoft/apps/fjbg/jars/fjbg.jar
#
jaco_jar = /home/linuxsoft/apps/jaco/lib/jaco.jar
#
tools_util_dir = /tmp/classes_tools_util
#
nsc_dir = /tmp/classes_nsc
#
nsc4ant_dir = /tmp/classes_nsc4ant
#
nsc_output_dir = /tmp/classes_nsc_output
#
jars_dir = /tmp/jars_nsc
ant_jar = /home/linuxsoft/apps/ant/lib/ant.jar

#
tools_util_runtime_dir=/tmp/classes_runtime
