build.resource=${user.home}/projects/scala/build
dist.resource=${user.home}/projects/scala/dists

android.home=/home/linuxsoft/apps/android
retroweaver.home=/home/linuxsoft/apps/retroweaver

unix.mono.home=/home/linuxsoft/apps/mono
win.mono.home=C:/Progra~1/Mono

msdn.home=C:/Windows/Micros~1.NET/Framew~1/v2.0.50727
