unix.android.home=/home/linuxsoft/apps/android
unix.mono.home=/home/linuxsoft/apps/mono
unix.retroweaver.home=/home/linuxsoft/apps/retroweaver
unix.wtk.home=/home/linuxsoft/apps/java-wtk

win.android.home=c:/Progra~1/Android
win.mono.home=c:/Progra~1/Mono
win.retroweaver.home=c:/Progra~1/Retroweaver
win.wtk.home=c:/Progra~1/Java/wtk2.5.2

dotnet.home=c:/Windows/Micros~1.NET/Framew~1/v2.0.50727
