<?xml version="1.0" encoding="UTF-8"?>
<classpath>
	<classpathentry kind="src" path="src/compiler"/>
	<classpathentry kind="con" path="org.scala-ide.sdt.launching.SCALA_CONTAINER"/>
	<classpathentry kind="con" path="org.eclipse.jdt.launching.JRE_CONTAINER"/>
	<classpathentry exported="true" kind="lib" path="lib/msil.jar"/>
	<classpathentry kind="lib" path="lib/jline.jar"/>
	<classpathentry kind="con" path="org.eclipse.pde.core.requiredPlugins"/>
	<classpathentry exported="true" kind="lib" path="lib/fjbg.jar"/>
	<classpathentry kind="lib" path="lib/forkjoin.jar"/>
	<classpathentry kind="lib" path="lib/ant/ant.jar"/>
	<classpathentry kind="output" path="build/quick/classes/compiler"/>
</classpath>
