# see also test/files/.gitignore
/.gitignore
/test/files/.gitignore

*.jar
*~

# target directories for ant build
/build/
/dists/

# other
/out/
/bin/
/sandbox/

# eclipse, intellij
/.classpath
/.project
/src/intellij/*.iml
/src/intellij/*.ipr
/src/intellij/*.iws
/.cache
/.idea
/.settings

# bak files produced by ./cleanup-commit
*.bak
