// [#do-not-edit#]

/*                     __                                               *\
**     ________ ___   / /  ___     Scala API                            **
**    / __/ __// _ | / /  / _ |    (c) 2002, LAMP/EPFL                  **
**  __\ \/ /__/ __ |/ /__/ __ |                                         **
** /____/\___/_/ |_/____/_/ | |                                         **
**                          |/                                          **
\*                                                                      */

// $Id$

package scala;

/** @meta class [#type-params#] extends scala.Object;
 */
public interface Function[#n#] {
    /** @meta method [#scala-params#];
     */
    abstract public java.lang.Object apply([#java-params#]);
}
