header h1 {
	text-align: center;
}

header .date {
	text-align: center;
}

.container > h1 a, 
.container > h2 a, 
.container > h3 a, 
.container > h4 a, 
.container > h5 a,
.container > h6 a {
	text-decoration: none;
	color: #111;
}

pre {
	margin-left: 3em;
	margin-right: 3em;
	padding: 1em;
	background-color: #EEE;
	border: 1px solid #333;
}

pre.math {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: 0;
}

code > span {
	font-weight: normal !important;
}

code {
	padding-left: 0.1em;
	padding-right: 0.1em;
}

/* examples */
ol[type="1"] {
	list-style-type: none;
	margin-left: 3em;
	margin-right: 3em;
	padding: 0;
}

ol[type="1"] > li {
	margin-top: 1em;
	padding: 1em;
	background-color: #E5ECF9;
	border: 1px dashed black;
}

ol[type="1"] > li:before {
	content: "Example ";
}

#popoutTOC {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}

#popoutTOC .head {

}

#popoutTOC .links {
	display: none;
}