@@echo off

rem ##########################################################################
rem # Copyright @copyright@
rem #
rem # This is free software; see the distribution for copying conditions.
rem # There is NO warranty; not even for MERCHANTABILITY or FITNESS FOR A
rem # PARTICULAR PURPOSE.
rem ##########################################################################

if "%OS%"=="Windows_NT" (
  @@setlocal
  set _SCALA_HOME=%~dp0..
) else (
  set _PREFIX=%SCALA_HOME%
  if "%_PREFIX%"=="" goto error1
)

set _JAVACMD=%JAVACMD%
if "%_JAVACMD%"=="" set _JAVACMD=java
set _JAVAFLAGS=@javaflags@

set _CLASSPATH=@classpath@
if not "%_CLASSPATH%"=="" goto args
for %%f in ("%_PREFIX%\lib\*.jar") do call :add_cpath "%%f"

:args
set _ARGS=
:loop
if "%1"=="" goto exec
if "%1"=="-version" goto version
set _ARGS=%_ARGS% %1
shift
goto loop

:exec
rem echo %_JAVACMD% %_JAVAFLAGS% -cp %_CLASSPATH% %_ARGS%
%_JAVACMD% %_JAVAFLAGS% -cp %_CLASSPATH% %_ARGS%
goto end

:version
echo Scala runtime version @version@ -- @copyright@
%_JAVACMD% -version
goto end

rem ##########################################################################
rem # subroutines

:add_cpath
  if "%_CPATH%"=="" (
    set _CPATH=%~1
  ) else (
    set _CPATH=%_CPATH%;%~1
  )
goto :eof

rem ##########################################################################
rem # errors

:error1
echo ERROR: environment variable SCALA_HOME is undefined. It should point to the directory containing the file "VERSION-@version@".
goto end

:end
if "%OS%"=="Windows_NT" @@endlocal
