@echo off

rem ##########################################################################
rem # Copyright @copyright@
rem #
rem # This is free software; see the distribution for copying conditions.
rem # There is NO warranty; not even for MERCHANTABILITY or FITNESS FOR A
rem # PARTICULAR PURPOSE.
rem ##########################################################################

if "%OS%"=="Windows_NT" @setlocal
if "%OS%"=="Windows_NT" @set SCALA_HOME=%~dp0..

if "%SCALA_HOME%"=="" goto error1

set _ARGS=
:loop
if '%1' == '' goto exec
set _ARGS=%_ARGS% %1
shift
goto loop

:exec
set _JAVACMD=java
set _MAIN=@tool.class@
set _TOOLS_CPATH=@fjbg.jar@;@msil.jar@;@comp.path@;@lib.path@
set _LIB_CPATH=@lib.path@
set _PROPS=-Dscala.version=@version@ -Dscala.home="%SCALA_HOME%" -Dscala.boot.class.path="%_LIB_CPATH%"

rem echo %_JAVACMD% %_PROPS% -cp %_TOOLS_CPATH% %_MAIN% %_ARGS%
%_JAVACMD% %_PROPS% -cp %_TOOLS_CPATH% %_MAIN% %_ARGS%
goto end

rem ##########################################################################
rem # errors

:error1
echo ERROR: environment variable SCALA_HOME is undefined. It should point to the directory containing the file "VERSION-@version@".
goto end

:end
if "%OS%"=="Windows_NT" @endlocal
