--- scala_part2.il	2005-09-21 16:19:30.676754000 +0200
+++ scala_part2.il.new	2005-09-21 16:21:58.522947000 +0200
@@ -1,18 +1,3 @@
-.assembly extern 'mscorlib'
-{
-    .ver 1:0:3300:0
-    .publickeytoken = (b7 7a 5c 56 19 34 e0 89)
-}
-.assembly extern 'scala_part1'
-{
-    .ver SCALA_VERSION
-    .publickeytoken = (80 07 fc 78 8a 2e 53 08)
-}
-.assembly 'scala_part2'
-{
-}
-.module 'scala_part2.dll'
-
 .namespace 'scala'
 {
    .class public auto ansi interface 'Tuple1'
