Source: scala
Section: devel
Priority: optional
Maintainer: Lex Spoon <lex@debian.org>
Standards-Version: 3.7.2
Build-Depends: gcj-4.1, java-gcj-compat,  gij | java-virtual-machine, ant,  debhelper (>= 5)

Package: scala
Architecture: all
Depends: scala-library, java-gcj-compat, gij | java-virtual-machine
Recommends: sbaz
Description: The Scala programming language
 Scala is a Java-compatible programming language with many
 modern language features.  It is Java-compatible in that
 Scala and Java classes can directly reference each other and
 subclass each other with no glue code needed.  It
 includes modern language features such as closures,
 pattern-matching, parametric types, and virtual type members.
 .
 This package includes the various tools used to develop
 code written in Scala.  It includes a compiler (scalac),
 an interpreter and script runner (scala), the offline
 compiler (fsc), and source-scanning documentation
 generator (scaladoc).


Package: scala-library
Architecture: all
Depends: gij | java-virtual-machine
Description: The Scala standard library
 The Scala standard library.  This is needed to run Scala programs.
