#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir
	ANT_OPTS=-Xmx512M ant -f debian/simpbuild.xml dist
	touch build-stamp

clean:
	dh_testdir
	dh_clean -A
	rm -rf build dists
	rm -f build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs -A

	install -m644 simpbuild/lib/scala-library.jar $(CURDIR)/debian/scala-library/usr/share/java/
	install -m644 simpbuild/lib/scala-dbc.jar $(CURDIR)/debian/scala-library/usr/share/java/
	install -m644 simpbuild/lib/scala-actors.jar $(CURDIR)/debian/scala-library/usr/share/java/

	install -m644 simpbuild/lib/scala-compiler.jar $(CURDIR)/debian/scala/usr/share/java/
	install -m755 debian/command-scripts/* $(CURDIR)/debian/scala/usr/bin/

	dh_installdocs -A
	dh_installman -pscala simpbuild/manual/man1/*.1
	dh_installchangelogs  -A
	dh_compress -A
	dh_fixperms -A


binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdeb -A
	dh_gencontrol
	dh_md5sums
	dh_builddeb


# no arch-specific stuff, but Lintian complains if this is missing
binary-arch:

binary: binary-indep

.PHONY: build clean binary-indep binary install
