<?xml version="1.0" encoding="UTF-8"?>
<module relativePaths="true" type="JAVA_MODULE" version="4">
  <component name="FacetManager">
    <facet type="Scala" name="Scala">
      <configuration>
        <option name="takeFromSettings" value="true" />
        <option name="myScalaCompilerJarPaths">
          <array>
            <option value="$MODULE_DIR$/../../build/locker/classes/compiler" />
            <option value="$MODULE_DIR$/../../lib/fjbg.jar" />
            <option value="$MODULE_DIR$/../../lib/msil.jar" />
          </array>
        </option>
        <option name="myScalaSdkJarPaths">
          <array>
            <option value="$MODULE_DIR$/../../build/locker/classes/library" />
          </array>
        </option>
      </configuration>
    </facet>
  </component>
  <component name="NewModuleRootManager" inherit-compiler-output="true">
    <exclude-output />
    <content url="file://$MODULE_DIR$/../compiler">
      <sourceFolder url="file://$MODULE_DIR$/../compiler" isTestSource="false" />
    </content>
    <orderEntry type="inheritedJdk" />
    <orderEntry type="sourceFolder" forTests="false" />
    <orderEntry type="library" name="quicklib" level="project" />
    <orderEntry type="library" name="lib" level="project" />
    <orderEntry type="library" name="ant" level="application" />
  </component>
</module>

