<?xml version="1.0" encoding="UTF-8"?>
<module type="JAVA_MODULE" version="4">
  <component name="NewModuleRootManager" inherit-compiler-output="false">
    <output url="file://$MODULE_DIR$/../../build/quick/classes/partest-javaagent" />
    <output-test url="file://$MODULE_DIR$/../../out/test/partest-javaagent" />
    <exclude-output />
    <content url="file://$MODULE_DIR$/../partest-javaagent">
      <sourceFolder url="file://$MODULE_DIR$/../partest-javaagent" isTestSource="false" />
    </content>
    <orderEntry type="inheritedJdk" />
    <orderEntry type="sourceFolder" forTests="false" />
    <orderEntry type="library" name="partest-javaagent-deps" level="project" />
  </component>
</module>