<?xml version="1.0" encoding="UTF-8"?>
<module type="JAVA_MODULE" version="4">
  <component name="NewModuleRootManager" inherit-compiler-output="true">
    <exclude-output />
    <content url="file://$MODULE_DIR$/../../test">
      <excludeFolder url="file://$MODULE_DIR$/../../test/junit" />
    </content>
    <orderEntry type="inheritedJdk" />
    <orderEntry type="sourceFolder" forTests="false" />
    <orderEntry type="module" module-name="forkjoin" />
    <orderEntry type="module" module-name="library" />
    <orderEntry type="module" module-name="actors" />
    <orderEntry type="module" module-name="reflect" />
    <orderEntry type="module" module-name="compiler" />
    <orderEntry type="module" module-name="repl" />
    <orderEntry type="module" module-name="interactive" />
    <orderEntry type="module" module-name="scaladoc" />
    <orderEntry type="module" module-name="partest-extras" />
    <orderEntry type="library" name="test-deps" level="project" />
  </component>
</module>