<?xml version="1.0" encoding="UTF-8"?>
<module type="JAVA_MODULE" version="4">
  <component name="NewModuleRootManager" inherit-compiler-output="true">
    <exclude-output />
    <content url="file://$MODULE_DIR$/../../test/osgi">
      <sourceFolder url="file://$MODULE_DIR$/../../test/osgi/src" isTestSource="false" />
    </content>
    <orderEntry type="inheritedJdk" />
    <orderEntry type="sourceFolder" forTests="false" />
    <orderEntry type="module" module-name="actors" />
    <orderEntry type="module" module-name="asm" />
    <orderEntry type="module" module-name="compiler" />
    <orderEntry type="module" module-name="library" />
    <orderEntry type="module" module-name="reflect" />
    <orderEntry type="module" module-name="repl" />
    <orderEntry type="module" module-name="partest-extras" />
    <orderEntry type="module" module-name="forkjoin" />
    <orderEntry type="library" name="junit" level="project" />
    <orderEntry type="library" name="scaladoc-deps" level="project" />
    <orderEntry type="library" name="scala-sdk" level="project" />
    <orderEntry type="library" scope="PROVIDED" name="pax.exam-deps" level="project" />
  </component>
</module>