(
  :disable-source-load-on-startup t
  :disable-scala-jars-on-classpath t
  :root-dir "c:/Projects/Kepler"
  :sources (
    "c:/Projects/Kepler/src/library"
    "c:/Projects/Kepler/src/reflect"
    "c:/Projects/Kepler/src/compiler"
  )
  :compile-deps (
    "c:/Projects/Kepler/build/asm/classes"
    "c:/Projects/Kepler/build/locker/classes/library"
    "c:/Projects/Kepler/build/locker/classes/reflect"
    "c:/Projects/Kepler/build/locker/classes/compiler"
  )
  :target "c:/Projects/Kepler/build/classes"
)