/*     ____ ____  ____ ____  ______                                     *\
**    / __// __ \/ __// __ \/ ____/    SOcos COmpiles Scala             **
**  __\_ \/ /_/ / /__/ /_/ /\_ \       (c) 2002, LAMP/EPFL              **
** /_____/\____/\___/\____/____/                                        **
\*                                                                      */

// $Id$

package scalac.ast;

{#Imports#}

/** The default tree factory */
public class DefaultTreeFactory implements TreeFactory {

    //########################################################################
    // Public Methods

    {#TreeMethods#}

    //########################################################################
}
