/*     ____ ____  ____ ____  ______                                     *\
**    / __// __ \/ __// __ \/ ____/    SOcos COmpiles Scala             **
**  __\_ \/ /_/ / /__/ /_/ /\_ \       (c) 2002, LAMP/EPFL              **
** /_____/\____/\___/\____/____/                                        **
\*                                                                      */

// $Id$

package scalac.ast;

{#Imports#}

/**
 * A tree copier that returns a new tree only if some fields have
 * changed
 */
public class LazyTreeCopier implements TreeCopier {

    //########################################################################
    // Protected Fields

    /** The tree copier used to copy trees */
    protected final TreeCopier copier;

    //########################################################################
    // Public Constructors

    public LazyTreeCopier(TreeFactory make) {
        this(new StrictTreeCopier(make));
    }

    public LazyTreeCopier(TreeCopier copier) {
        this.copier = copier;
    }

    //########################################################################
    // Public Methods

    {#TreeMethods#}

    //########################################################################
}
