/*     ____ ____  ____ ____  ______                                     *\
**    / __// __ \/ __// __ \/ ____/    SOcos COmpiles Scala             **
**  __\_ \/ /_/ / /__/ /_/ /\_ \       (c) 2002, LAMP/EPFL              **
** /_____/\____/\___/\____/____/                                        **
\*                                                                      */

// $Id$

package scalac.ast;

import scalac.Unit;
{#Imports#}

/** Class to traverse a tree without modifying it. */
public class Traverser {

    //########################################################################
    // Public Methods

    public void traverse(Unit[] units) {
        for (int i = 0; i < units.length; i++) traverse(units[i].body);
    }

    public void traverse(Unit unit) {
        traverse(unit.body);
    }

    public void traverse(Tree tree) {
        {#TreeSwitch#}
    }

    {#TraverseArrays#}

    //########################################################################
}
