/*     ____ ____  ____ ____  ______                                     *\
**    / __// __ \/ __// __ \/ ____/    SOcos COmpiles Scala             **
**  __\_ \/ /_/ / /__/ /_/ /\_ \       (c) 2002, LAMP/EPFL              **
** /_____/\____/\___/\____/____/                                        **
\*                                                                      */

// $Id$

package scalac.ast;

{#Imports#}

/**
 * Interface for a kind of factory which, for each node constructor,
 * takes an original node from which some data will be copied or
 * shared.
 */
public interface TreeCopier {

    //########################################################################
    // Public Methods

    {#TreeMethods#}

    //########################################################################
}
