/* This removes a few things from screen.css for printing */

body {
  padding: 0px;
  margin: 0px; 
}

.anchor, #navigation, .to_top, .version-notice, .hidden-print {
  display: none !important;
}

.print-only {
  display: block;
}

#content-container {
  width: 100%;
  float: none;
}

/* no scrollbars, jump to next row.. */
.highlight pre code {
  overflow: hidden;
  white-space: pre-wrap;
}

main {
  position: relative;
  top: 32px;
  margin: 0 0 0 0;
  padding: 0px 32px;
  max-width: none;
  min-width: none;
  min-height: none;
  background-color: #FFF;
}

/* Avoid clipped headings https://github.com/pdfkit/pdfkit/issues/113#issuecomment-7027798 */
h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
}
