<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
  <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/pygment_trac.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="wrapper">
  <header>
    <h1>Scala</h1>
    <p>Documentation on the development of the Scala compiler and standard library.</p>

    <p class="view"><a href="https://github.com/scala/scala">View the Project on GitHub <small>scala/scala</small></a></p>


    <ul>
      <li><a href="https://github.com/scala/scala/zipball/master">Download <strong>ZIP File</strong></a></li>
      <li><a href="https://github.com/scala/scala/tarball/master">Download <strong>TAR Ball</strong></a></li>
      <li><a href="https://github.com/scala/scala">View On <strong>GitHub</strong></a></li>
    </ul>
  </header>
<section>
{{content}}
</section>
<footer>
  <p>This project is maintained by <a href="https://github.com/scala">scala</a></p>
  <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</footer>
</div>
<script src="{{site.baseurl}}/javascripts/scale.fix.js"></script>
</body>
</html>
